<div class="footer-pattern" aria-hidden="true">
  <div class="footer-pattern-inner">
    <img src="/assets/img/2025-footer.svg" alt="" class="footer-svg">
    <img src="/assets/img/2025-footer.svg" alt="" class="footer-svg">
    <img src="/assets/img/2025-footer.svg" alt="" class="footer-svg">
    <img src="/assets/img/2025-footer.svg" alt="" class="footer-svg">
  </div>
</div>

<style>
  .footer-pattern {
    width: 100%;
    overflow: hidden;
    margin-top: -1rem;
  }

  .footer-pattern-inner {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    transform: translateX(-2.5%) scale(1.5);
    /* Offset to account for overlap and scale up by 150% */
  }

  .footer-svg {
    width: 500px;
    margin-right: -25px;
    /* 5% overlap (500px * 0.05) */
  }
</style>
