:root {
    /* 2025 Color Palette */
    --black: #000000;
    --bone: #ffecd9;
    --hollow: #2e2014;
    --pumpkin: #ff7913;
    --harvest: #f76046;
    --smile: #0d0703;
    --pumpkin-shadow: #ee6a2c;
    --halloween: #ffa25a;
    --blank: #f9f5e9;
    --pumpkin-dark: #bf5b0e;
    --magic: #9e369f;
    --twilight: #cdc2fd;
    --dark-sky: #2d2d2d;
}