---
title: 2025 Bonus Weens
---
<h1 class="sticky-header">
    <span class="header-content">
        <img src="/assets/img/yoga-skeleton.png" alt="bonus" class="title-icon">
        {{ title}}
    </span>
</h1>


<div class="movies-grid">
    {% assign sorted_movies = weening2025 | where: "type", "Bonus" | sort: "title" %}
    {% for movie in sorted_movies %}
    <a href="/movies/{{ movie.tmdb | slugify }}/" class="movie-card">
        <div class="movie-poster">
            <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster">
        </div>
        <div class="movie-info">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <div class="movie-metadata">
                <span class="release-date">{% if movie['release-year']
                    == "2025" %}🎉{% endif %}{{ movie['release-year']
                    }}{% if movie['release-year'] == "2025" %}🎉{% endif %}</span>
                <span class="runtime">{{ movie.runtime }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>