---
title: 2025 Weens
---

<h1 class="sticky-header">
    <span class="header-content">
        <img src="/assets/img/weening-skull.png" alt="trick" class="title-icon">
        {{ title }}
    </span>
</h1>

<div class="movies-grid">
    {% for movie in weening2025 %}
    {% if movie.type == "Ween" %}
    <a href="/movies/{{ movie.tmdb | slugify }}/" class="movie-card">
        <div class="screening-date">
            {% assign date_parts = movie.date | split: "-" %}
            {% assign day = date_parts[2] | plus: 0 %}
            Oct {{ day }}
        </div>
        <div class="movie-poster">
            <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster">
        </div>
        <div class="movie-info">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <div class="movie-metadata">
                <span class="release-date">{% if movie['release-year']
                    == "2025" %}🎉{% endif %}{{ movie['release-year']
                    }}{% if movie['release-year'] == "2025" %}🎉{% endif %}</span>
                <span class="runtime">{{ movie.runtime }}</span>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>